/* ===============页面属性 CSS Reset=============== */
body,html {
	overflow:hidden;
	width:100%;
	height:100%;
	border:0;
	margin:0;
	padding:0;
}

td,input,button,select,body {
	font-family:"lucida Grande",Verdana;
	font-size:12px;
}

h1,h2,h3,h4,h5,h6 {
	font-size:12px; 
	font-weight:normal;
	 margin:0;
}
ul,li{list-style:none;}
form,ul,li {margin:0;padding:0;}
select,body,textarea {background:#fff;font-size:12px;}
select {font-weight:normal; font-size:12px; font-family:Tahoma;line-height:20px;}
textarea {width:540px;border:1px solid #718da6;padding:3px;font-family:"lucida Grande",Verdana;}
img {border:none}
a {text-decoration:none;cursor:pointer;}
a:hover {text-decoration:underline;}
div {display: block;}

/* ===============首页框架=============== */
#header {height:70px;}
#left-content {z-index:3;bottom:30px;top:70px;left: 0px;width:250px;display: block;position: absolute;background:#fff;
; _height: expression(document.body.offsetHeight-109+'px');}
#main-content {z-index:4;bottom:30px;left:250px;overflow-y:hidden;position:absolute;right:0px;top:76px;background:#fff;}
#main-frame {z-index: 5;overflow:auto;width:100%;height:100%;
; _width: expression(document.body.offsetWidth-207+'px');
; _height: expression(document.body.offsetHeight-111+'px');}
#footer {z-index:6;overflow:hidden;position:absolute;display:block;bottom:0px;_bottom:-1px;left:0px;right:0px;height:30px;
; _width: expression(document.body.offsetWidth+'px');}
#separator{
	position: absolute;
	right: 0px;
	width: 10px;
	top:0px;
	bottom: 0px;
; _height: expression(document.getElementById('left-content').offsetHeight+'px');}



.thisnotice {
	position: absolute;
	font-size: 14px;
	top: 145px;
	margin: -95px 0 0 120px;
	z-index: 2;
}
#disastyle a {
	color: #FFFFFF;
	cursor: hand;
	text-decoration: none;
}
#disastyle a:hover {
	color: #FF8C00;
}
<!--
#scrollWrap {
	width: 280px;
	height: 18px;
	overflow: hidden;
}

#scrollMsg {
	float: left;
	text-align: left;
	padding: 0 5px;
}

#scrollMsg ul {
	margin: 0;
	padding: 0;
}

#scrollMsg li {
	line-height: 18px;
	list-style: none;
}

#scrollMsg li a {
	color: #FFFFFF;
	text-decoration: none;
}

#scrollMsg li a:hover {
	color: #F60;
}

#jobinfos a {
	cursor: hand;
	color: red;
	text-decoration: none;
}

#jobinfos a:hover {
	color: #F60;
}

#worntipstd a {
	cursor: hand;
	color: red;
	text-decoration: none;
}

#worntipstd a:hover {
	color: blue;
}
.bkbutton {BORDER-RIGHT: #87CEFA 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #87CEFA 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFF, EndColorStr=#87CEFA); BORDER-LEFT: #87CEFA 1px solid; CURSOR: hand;COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #87CEFA 1px solid;margin-top:10px;width:80px}
-->	
#winpop {
	width: 250px;
	height: 0px;
	position: absolute;
	right: 0;
	bottom: 0;
	border: 1px solid #666;
	margin-bottom: 28px;
	padding: 1px;
	background: #FFFFFF;
	overflow: hidden;
	display: none;
	z-index: 10;
}
#winpop .title {
	width: 100%;
	height: 22px;
	line-height: 20px;
	background: #FFCC00;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}
#winpop .con {
	width: 100%;
	height: 120px;
	font-weight: bold;
	font-size: 14px;
	color: #FF0000;
	text-decoration: none;
}  /* http://www.webdm.cn */
#silu {
	font-size: 12px;
	color: #666;
	position: absolute;
	right: 0;
	text-align: right;
	text-decoration: none;
	line-height: 22px;
	top: 300px
}
.close {
	position: absolute;
	right: 4px;
	top: -1px;
	color: #FFF;
	cursor: pointer
}
hr {
	margin: 2px 0 2px 0;
	border: 0;
	border-top: 1px dashed #CCCCCC;
	height: 0;
}
