/*=====================================
※→全局样式
=====================================*/

* {
	margin-left:auto;
	margin-right:auto;
}

Body {
	margin:0px;
	padding:0px;
	font-family:Verdana;
	font-size:12px;
	text-align:center;
	SCROLLBAR-FACE-COLOR: #f6f6f6; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
	SCROLLBAR-SHADOW-COLOR: #cccccc; 
	SCROLLBAR-3DLIGHT-COLOR: #cccccc; 
	SCROLLBAR-ARROW-COLOR: #330000; 
	SCROLLBAR-TRACK-COLOR: #f6f6f6; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}

Form, Select, Input {
	margin:0px;
	padding:0px;
}

Img {
	border: 0;
	margin:0px;
	padding:0px;
}

Table, Tr, Td, {
	font-size:12px;
}

.button {
	width:64px;
	height:29px;
	color:#081e2b;
	letter-spacing:2px;
	font-size:12px;
	padding-top:2px;
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	background:url(../../query/Images/an.jpg) no-repeat;
}

.checkbox {
	font-size:12px; 
}

a.zi {
	color:#041823;
	text-decoration:none;
}

a:hover.zi {
	text-decoration:underline;
}

/*=====================================
※→查询条件生成器样式
=====================================*/

.Cxtj {
	width:630px;
	height:500px;
	border:1px solid #e1e1e1;
}

.Cxtj .Top_tit {
	width:630px;
	height:34px;
	float:left;
	color:#161817;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	letter-spacing:2px;
	padding-left:58px;
	border-bottom:1px solid #dbe4eb;
	background:url(../../query/Images/Top_bg.gif) repeat-x;
}

.Cxtj .Center {
	width:630px;
	height:424px;
	float:left;
}

.Cxtj .Center_left {
	width:170px;
	height:424px;
	float:left;
	border-right:1px solid #e1e1e1;
}

.Cxtj .Center_left .top {
	width:168px;
	height:31px;
	float:left;
	padding:1px;
	border-bottom:1px solid #e1e1e1;
}

.Cxtj .Center_left .top_tit {
	width:168px;
	height:31px;
	float:left;
	color:#3b3b3b;
	font-size:14px;
	font-weight:bold;
	line-height:31px;
	text-align:center;
	background:#f3f3f3;
}

.Cxtj .Center_left .center {
	width:160px;
	height:388px;
	float:left;
	padding:1px 5px;
	overflow:auto;
}

.Cxtj .Center_left .center_1 {
	width:160px;
	height:auto;
	float:left;
}

.Cxtj .Center_left .center_1 ul {
	margin:0px;
	padding:0px;
	float:left;
}

.Cxtj .Center_left .center_1 li {
	width:160px;
	height:25px;
	float:left;
	font-size:13px;
	line-height:25px;
	text-align:left;
	list-style-type:none;
}

.Cxtj .Center_left .center_1 li a {
	width:150px;
	height:25px;
	float:left;
	color:#000306;
	padding-left:10px;
	text-decoration:none;
}

.Cxtj .Center_left .center_1 li a:hover {
	background:#dbe4eb;
}

.Cxtj .Center_center {
	width:229px;
	height:424px;
	float:left;
	border-right:1px solid #e1e1e1;
}

.Cxtj .Center_center .top {
	width:227px;
	height:31px;
	float:left;
	padding:1px;
	border-bottom:1px solid #e1e1e1;
}

.Cxtj .Center_center .top_tit {
	width:227px;
	height:31px;
	float:left;
	color:#3b3b3b;
	font-size:14px;
	font-weight:bold;
	line-height:31px;
	text-align:center;
	background:#f3f3f3;
}

.Cxtj .Center_center .center {
	width:219px;
	height:388px;
	float:left;
	padding:1px 5px;
}

.Cxtj .Center_center .center_top {
	width:219px;
	height:225px;
	float:left;
}

.Cxtj .Center_center .center_top_1 {
	width:219px;
	height:22px;
	float:left;
	color:#040404;
	font-size:13px;
	text-align:left;
	line-height:22px;
}

.Cxtj .Center_center .center_top_radio {
	width:auto;
	height:auto;
	float:left;
}

.Cxtj .Center_center .tit {
	width:195px;
	height:30px;
	float:left;
	color:#033266;
	font-size:14px;
	text-align:left;
	line-height:30px;
	padding-left:24px;
	background:#e9eaec url(../../query/Images/tubiao.jpg) no-repeat 4%;
}

.Cxtj .Center_center .bottom {
	width:195px;
	height:99px;
	float:left;
	padding-left:24px;
}

.Cxtj .Center_center .bottom_tit {
	width:auto;
	height:99px;
	float:left;
	color:#040404;
	font-size:13px;
	text-align:left;
	line-height:99px;
	padding-left:20px;
}

.Cxtj .Center_center .bottom_tit_1 {
	width:auto;
	height:auto;
	float:left;
	padding-top:37px;
}

.Cxtj .Center_center .xuanze {
	width:219px;
	height:30px;
	float:left;
	background:#e9eaec;
}

.Cxtj .Center_center .xuanze_1 {
	width:103px;
	height:30px;
	float:left;
	color:#111a1f;
	font-size:13px;
	text-align:left;
	line-height:30px;
	padding-left:5px;
}

.Cxtj .Center_center .xuanze_2 {
	width:auto;
	height:auto;
	float:left;
	padding-top:4px;
}

.Cxtj .Center_right {
	width:229px;
	height:424px;
	float:left;
}

.Cxtj .Center_right .top {
	width:227px;
	height:31px;
	float:left;
	padding:1px;
	border-bottom:1px solid #e1e1e1;
}

.Cxtj .Center_right .top_tit {
	width:227px;
	height:31px;
	float:left;
	color:#3b3b3b;
	font-size:14px;
	font-weight:bold;
	line-height:31px;
	text-align:center;
	background:#f3f3f3;
}

.Cxtj .Center_right .center {
	width:199px;
	height:353px;
	float:left;
	padding:1px 15px;
	overflow:auto;
}

.Cxtj .Center_right .center_ss {
	width:174px;
	height:38px;
	float:left;
	color:#303030;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	line-height:35px;
	padding-left:25px;
	background:url(../../query/Images/tubiao_1.jpg) no-repeat left;
}

.Cxtj .Center_right .gongneng {
	width:219px;
	height:30px;
	float:left;
	display:inline;
	margin:0 5px;
	background:#e9eaec;
}

.Cxtj .Center_right .gongneng_1 {
	width:79px;
	height:30px;
	float:left;
	font-size:13px;
	line-height:30px;
	text-align:left;
	margin-left:14px;_margin-left:5px;
	padding-left:30px;_padding-left:25px;
	background:url(../../query/Images/tubiao_2.jpg) no-repeat 15%;
}
.Cxtj .Center_right .gongneng_2 {
	width:79px;
	height:30px;
	float:left;
	font-size:13px;
	line-height:30px;
	text-align:left;
	padding-left:30px;_padding-left:25px;
	background:url(../../query/Images/tubiao_3.jpg) no-repeat 15%;
}

.Close {
	width:53px;
	height:22px;
	float:right;
	font-size:13px;
	font-weight:normal;
	letter-spacing:normal;
	display:inline;
	margin-top:5px;
	margin-right:5px;
	background:url(../../query/Images/tiaojiangb01.jpg) no-repeat;
}

.Close a {
	width:32px;
	height:22px;
	float:right;
	color:#3d5f84;
	line-height:22px;
	text-decoration:none;
	text-align:left;
	padding-left:21px;
	background:url(../../query/Images/tiaojiangb01.jpg) no-repeat;
}

.Close a:hover {
	background:url(../../query/Images/tiaojiangb02.jpg) no-repeat;
}


.Cxtj .Bottom {
	width:628px;
	height:38px;
	float:left;
	padding:1px;
	border-top:1px solid #e1e1e1;
}

.Cxtj .Bottom_an {
	width:628px;
	height:35px;
	float:left;
	text-align:center;
	background:#f5f3f4;
	padding-top:3px
}

.buttons{ 
	padding:4px 5px 4px 5px;  
	height:28px; 
	margin-top:10px; 
	margin-left:5px; 
	background: url(style/images/public/buttonbg.jpg) repeat-x; 
	border: #CCCCCC 1px solid; 
	cursor: pointer; 
}
p{
	margin:0;
	padding:0;
	font-family:verdana,Arial, Helvetica, sans-serif;
	list-style-type:none;
	font-size:inherit;
	color:inherit;
	z-index:inherit
}
		