
#tariffBar {
	font-size:12px;      
	text-align:center;
	font-family: "宋体";
	width:100%;
	margin-top:2px;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
}
   
#tariffBar li {
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding: 0px;
	display: inline; 
	white-space:nowrap;
} 

#tariffBar li a:link,#tariffBar li a:visited {
	*float:left;
	text-decoration: none;
	color:#1E3270;
	background-color: #ffffff;
	padding-top: 3px;
	padding-bottom: 3px;	
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #ffffff;
	padding-right: 2px;
	padding-left: 2px;
	font-weight: 300 ;
}  

#tariffBar li a:hover {
	color:#666666;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #d9eafe;			
	text-decoration: underline;
 } 
 #tariffBar .padWid {
 	*float:left; 
 	margin:2px;
 }
 
 #tariffBar #isActive{
 	color:#666666;
	background-color: #a5d7fd;
}
 #tariffBar imgdfd{
 	border: 0;
	margin:0px;
	padding:0px;
	/*src:../../images/public/arrow_right.png;*/
 }
