
	#input-Unit .title {
			width: 100%;
			height: 32px;
			background: url(../../../images/public/kuangbg.jpg);
			border-bottom: 1px solid #C8D8E5;
			text-align: left;
			color: #3C3C3C;
		}
		.button {
			width: 50px;
			height: 25px;
			background: url(../../../images/public/buttonbg.jpg) repeat-x;
			border: #CCCCCC 1px solid;
			cursor: pointer;
			float: left; 
			float: none;
			border-top: #CCCCCC 1px solid;
			border-bottom: #CCCCCC 1px solid;
		}
		#navBar1 {
			height: 26px;
			background: url(../../../images/public/daohangbg.jpg);
			line-height: 28px;
		}		
		cas {
			float: left;
			width: 100%;
			height: 26px;
			background: url(../../../images/public/daohangbg.jpg) repeat-x;
			line-height: 28px;
		}
		#input-Unit .title {
			width: 100%;
			height: 32px;
			background: url(../../../images/public/kuangbg.jpg);
			border-bottom: 1px solid #C8D8E5;
			text-align: left;
			color: #3C3C3C;
		}
		.button {
			width: 50px;
			height: 25px;
			background: url(../../../images/public/buttonbg.jpg) repeat-x;
			border: #CCCCCC 1px solid;
			cursor: pointer;
			float: left; *
			float: none;
			border-top: #CCCCCC 1px solid;
			border-bottom: #CCCCCC 1px solid;
		}
		#navBar1 {
			height: 26px;
			background: url(../../../images/public/daohangbg.jpg);
			line-height: 28px;
		}		
		cas {
			float: left;
			width: 100%;
			height: 26px;
			background: url(../../../images/public/daohangbg.jpg) repeat-x;
			line-height: 28px;
		}		
		.tsdbtn {
			line-height: 28px;
			padding: 2px 12px 2px 12px;
			height: 28px;
			margin-top: 4px;
			margin-left: 5px;
			background: url(../../../images/public/buttonbg.jpg) repeat-x;
			border: #CCCCCC 1px solid;
			cursor: pointer;
		}		
		#dhZFX td {
			line-height: 28px;
		}		
		body {
			text-align: left
		}
		#page {text-align: left}		
		.lableclass{width:80px;}		
		.bgstyle{background-color:#F0F7FB;border-bottom:#A9C8D9 solid 1px;text-align:right;width:90px;}		
		#ghBasicInfo tr td{line-height:30px;}
		#tablehthdang tr td{line-height:30px;}
		#tablehthdang_new tr td{line-height:30px;}
		#tablehthdang_old tr td{line-height:30px;}
		#tableyhdang tr td{line-height:30px;}
		#tableyhdang_to tr td{line-height:30px;}	
		#inputtext input{margin-left:0px;}
		#dhzftab{border-collapse:collapse;border:#A9C8D9 solid 1px;}
		#dhzftab tr th,#dhzftab tr td{line-height:26px;border:#A9C8D9 solid 1px;}
		#dhzftab tr th{background-color:#A9C8D9;border:#A9C8D9 solid 0px;}
		
		#hthzftab{border-collapse:collapse;border:#A9C8D9 solid 1px;}
		#hthzftab tr th,#hthzftab tr td{line-height:26px;border:#A9C8D9 solid 1px;}
		#hthzftab tr th{background-color:#A9C8D9;border:#A9C8D9 solid 0px;}
		
		#dzhthcontent{border-collapse:collapse;border:#A9C8D9 solid 1px;}
		#dzhthcontent tr th,#dzhthcontent tr td{line-height:26px;border:#A9C8D9 solid 1px;}
		#dzhthcontent tr th{background-color:#A9C8D9;border:#A9C8D9 solid 0px;}
		
		
		#dhBYTC{border-collapse:collapse;border:#A9C8D9 solid 1px;}
		#dhBYTC tr th,#dhBYTC tr td{line-height:26px;border:#A9C8D9 solid 1px;}
		#dhBYTC tr th{background-color:#A9C8D9;border:#A9C8D9 solid 0px;}
		#dhZFX{border-collapse:collapse;border:#A9C8D9 solid 1px;}
		#dhZFX tr th,#dhZFX tr td{line-height:26px;border:#A9C8D9 solid 1px;}
		#dhZFX tr th{background-color:#A9C8D9;border:#A9C8D9 solid 0px;}
						
		
		#queryDJhthtable{border-collapse:collapse;border:#A9C8D9 solid 1px;}		
		#queryDJhthtable tr th,#queryDJhthtable tr td{line-height:26px;border:#A9C8D9 solid 1px;}
		#queryDJhthtable tr th{background-color:#A9C8D9;border:#A9C8D9 solid 0px;}
		
		#querytitlesbm{border-collapse:collapse;border:#A9C8D9 solid 1px;}
		#querytitlesbm tr th,#querytitlesbm tr td{line-height:26px;border:#A9C8D9 solid 1px;}
		#querytitlesbm tr th{background-color:#A9C8D9;border:#A9C8D9 solid 0px;}
		
		
		#dqueryHTHdw tr td{line-height:22px;}
		#dqueryHTHdw tr th{line-height:25px;}
		#Paymenttable tr td{line-height:22px;}
		
		#bytctab{border-collapse:collapse;border:#A9C8D9 solid 1px;}
		#bytctab tr th,#bytctab tr td{line-height:26px;border:#A9C8D9 solid 1px;}
		#bytctab tr th{background-color:#A9C8D9;border:#A9C8D9 solid 0px;}
		#bytctabs tr th{background-color:#A9C8D9;border:#A9C8D9 solid 0px;}
		#bytctabs {border-collapse:collapse;border:#A9C8D9 solid 1px;}
		#bytctabs tr th,#bytctabs tr td{line-height:26px;border:#A9C8D9 solid 1px;}
		#dhzfform tr td,#bytcform tr td{line-height:30px;}
		#ffltab tr td{line-height:30px;}
		table tr.over{
			background-color: #B2D2FF;
			cursor:pointer;
		}
				
		table tr.selected{
			background-color:#3d84cc;
			color: White;
		}		
		.you1{
			height:25px;
			line-height:25px;
			width: 130px;
			border:1px solid #999;
		}
		.wenzi{
			text-align:right;
			width:95px;
			color:#333333;
			padding-right:5px;
			height: 30px;
			/*background:#f7f7f7;
			border-bottom:1px solid #dddddd;*/
		}
		.wenzix{				
			width: 140px;
			padding-right:10px;
			/*border-bottom:1px solid #dddddd;*/ 
		}		
		.td_label{
			text-align:right;
			width:95px;
			color:#333333;
			padding-right:5px;
			/*background:#f7f7f7;
			border-bottom:1px solid #dddddd;*/
		}
		.td_value{				
			width: 160px;
			padding-right:10px;
			/*border-bottom:1px solid #dddddd;*/ 
		}		
		#daijiaoinput tr td{line-height:32px;}
		#daijiaoinput input{background:url(../../../images/public/inputText_bg.jpg) repeat-x ; width:160px; border:#999999 solid 1px;  text-align:left; color:#000000; font-size:12px; font-weight:bold; height:22px; line-height: 23px; }		
		#tablehthdang select{margin-left:5px;}
		#tablehthdang input{margin-left:5px;}
		#tablehthdang_new select{margin-left:5px;}
		#tablehthdang_new input{margin-left:5px;}
		#tablehthdang_old select{margin-left:5px;}
		#tablehthdang_old input{margin-left:5px;}
		#tableyhdang select{margin-left:5px;}
		#tableyhdang input{margin-left:5px;}
		#tableyhdang_to select{margin-left:5px;}
		#tableyhdang_to input{margin-left:5px;}
		#Dh input{border:1px;solid:#00bbee;} 
		.midd .grid_htable tr th{height:22px;line-height:22px;}
		.neirong .midd #grid table tr td{line-height:18px;}	
		#grid tr td{line-height:28px;}
		.wenzixtcz {width:125} 
		
		#querybmcontext tr td{line-height:25px;}
		#businessfee tr td{line-height:25px;}	
		#querydjhthdh tr td{line-height:25px;}			